.text {
  bottom: 5%;
  width: 95%;
  padding: 10px;
  margin: 10px;
}

//.footer {
//  background-color: #ffffff;
//}

.fixed-bottom {
  background-color: #ffffff;
}

.inputText {
  text-align: center;
  margin-bottom: 30px;
}

#chatArea {
  margin-bottom: 150px;
}
