<!DOCTYPE html>
<html lang="ja">
<head>
  <title>ベーす</title>
  <!-- 共通のCSSなど -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"/>
  <!-- 共通のJSなど -->
</head>
<body>
<div>
  <h1>チャットアプリ</h1>
  <!-- 呼び出し方 -->
  {{template "content"}}
</div>
</body>
</html>
