{{define "content"}}
<div class="text-center">
<form action="/chat" method="post">
<label>userName</label>
<input placeholder="name" name="userName" id="userName" type="text"></input>
<input type="submit" value="チャットに入る">
</form>
</div>
<script>
</script>
{{end}}
